@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title the Financial Portal.</h3>
<h4>This page is used to describe the technology and to provide a functional description of the Financial Portal </h4>

<p>The Financial Portal was developed over a three week period in February 2016 with instruction from Coder Foundry by Jamie McConnell.</p>
<div class="row">
    <div class="col-lg-6">
        <h4>Technologies</h4>
        <ul.a>
            <li>.Net Entity Framework v 4 using object-oriented programming techniques</li>
            <li>Code First rdbms database development</li>
            <li>MVC using C#, Razor, & jQuery</li>
            <li>SQL Server</li>
            <li>LINQ</li>
            <li>OWIN OAuth 2.0 User Authentication</li>
            <li>Bootstrap, CSS3, Html5</li>
            <li>Visual Studio 2015</li>
        </ul.a>
    </div>

    <div class="col-lg-6">
        <h4>Functional Elements</h4>
        <ul.a>
            <li>Two factor User Authentification with Anonymous Registration via 3rd Party Apps</li>
            <li>CRUD against multiple tables</li>
        </ul.a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h4>Programatic Elements (vis-à-vis, previous projects)</h4>
        <ul.b>
            <li>View models</li>
            <li>anonymous classes</li>
            <li>Helper classes</li>
            <li>ViewBag, ViewData, & TempData</li>
            <li>Sendlist</li>
            <li>Try / Catch blocks</li>
        </ul.b>
    </div>
    <div class="col-lg-6">
        <h4>3rd Party Apps</h4>
        <ul.b>
            <li>DataTables for tabular data</li>
            <li>SendGrid for email</li>
            <li>Morris.js for charts</li>
        </ul.b>
    </div>
</div>