@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to your Financial Portal</h1>
    <p class="lead">To start, please log into the system, per the instructions below.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If you are already a member of a household portal, please login HERE: @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            If you have been inviited to join an existing household, click here: @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            If you would like to start your own household financial portal, please click here: @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </p>
            </div>
    <div class="col-md-4">
        <h2>Household Driven</h2>
        <p>The Portal is a family friendly place where you and your family can communicate, share, and plan your econommic future together. What better 
         way to learn, teach, and build valuable foundations for future earners and to keep an eye on the family purse!</p>
        <p>In addition, the Portal provides analytical financial charts plus budgeting for your family.</p>
    </div>
    <div class="col-md-4">
        <h2>Demo</h2>
        <p>Plumb the intricacies of the Financial Portal before you register and start using. With our Demo, get to know the ins and outs of the Portal. Refer your friends, too.</p>
        <p>With this Demo, you have all the flexibility of a registered use - add, delete, share - and can get a feel for the software</p>
        <p>Simply login with these credentials:</p><p>Jamie@lifeshade.com</p><p></p>
    </div>
</div>