@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to your Financial Portal</h1>
    <p class="lead">To start, please log into the system, per the instructions below.</p>
    <p>>Learn more &raquo;</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If you are already a member of a household portal, please login HERE: @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            If you have been inviited to join an existing household, click here: @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            If you would like to start your own household financial portal, please click here: @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Household Driven</h2>
        <p>The Portal is a family friendly place where you and your family can communicate, share, and plan your econommic future together. What better 
         way to learn, teach, and build valuable foundations for future earners and to keep an eye on the family purse!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>In depth analysis and Budgeting available</h2>
        <p>Plumb the depths of financial stability and planning with our easy to use budgeting and financial charts..</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>