@model Financial_Portal.Models.HouseHold

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard-Layout.cshtml";
}
<div class="row">
    <h3>The @Html.DisplayFor(model => model.HName) Dashboard</h3>
    <div class="col-lg-6 centered">
        <div id="myfirstchart" style="height: 350px;"></div>
    </div>
    <div class="col-lg-6 centered">
        <div id="mysecondchart" style="height: 350px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 centered">
        <h3>Budget vs Actual Expenses - Current Month</h3>
        <div id="mythirdchart" style="height: 350px;"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.post('@Url.Action("GetChart","HouseHolds")').then(function (response) {
                new Morris.Donut({
                    element: 'myfirstchart',
                    data: response.donut,
                    resize: true
                });
                new Morris.Bar({
                    element: 'mythirdchart',
                    data: response.bar,
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['actual', 'budgeted'],
                    resize: true
                });
            });

        });
    </script>
}